<?xml version="1.0"?>
<launch>
  <!--
    双机仿真：本机 uav0（iris + 深度相机，地面待机）、目标 uav1（东侧 target_offset_east_m m，无偏航）。
  -->
  <env name="GAZEBO_PLUGIN_PATH" value="$(optenv GAZEBO_PLUGIN_PATH):/opt/ros/$(optenv ROS_DISTRO noetic)/lib"/>

  <arg name="est" default="ekf2"/>
  <arg name="vehicle" default="iris"/>
  <arg name="world" default="$(find mavlink_sitl_gazebo)/worlds/empty.world"/>
  <arg name="gui" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="false"/>
  <arg name="paused" default="false"/>
  <!-- 目标相对本机水平距离（米），沿 +x（东）放置 -->
  <arg name="target_offset_east_m" default="5.0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="gui" value="$(arg gui)"/>
    <arg name="world_name" value="$(arg world)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="verbose" value="$(arg verbose)"/>
    <arg name="paused" value="$(arg paused)"/>
  </include>

  <!-- 本机：原点，带深度相机，地面待机 -->
  <group ns="uav0">
    <arg name="ID" value="0"/>
    <arg name="fcu_url" default="udp://:14540@localhost:14580"/>
    <include file="$(find px4)/launch/single_vehicle_spawn.launch">
      <arg name="x" value="0"/>
      <arg name="y" value="0"/>
      <arg name="z" value="0"/>
      <arg name="R" value="0"/>
      <arg name="P" value="0"/>
      <arg name="Y" value="0"/>
      <arg name="vehicle" value="$(arg vehicle)"/>
      <arg name="sdf_file" value="$(find mavlink_sitl_gazebo)/models/iris_depth_camera/iris_depth_camera.sdf"/>
      <arg name="mavlink_udp_port" value="14560"/>
      <arg name="mavlink_tcp_port" value="4560"/>
      <arg name="ID" value="$(arg ID)"/>
      <arg name="gst_udp_port" value="$(eval 5600 + arg('ID'))"/>
      <arg name="video_uri" value="$(eval 5600 + arg('ID'))"/>
      <arg name="mavlink_cam_udp_port" value="$(eval 14530 + arg('ID'))"/>
    </include>
    <include file="$(find mavros)/launch/px4.launch">
      <arg name="fcu_url" value="$(arg fcu_url)"/>
      <arg name="gcs_url" value=""/>
      <arg name="tgt_system" value="$(eval 1 + arg('ID'))"/>
      <arg name="tgt_component" value="1"/>
    </include>
  </group>

  <!-- 目标机：东侧 target_offset_east_m m，无姿态角，普通 iris -->
  <group ns="uav1">
    <arg name="ID" value="1"/>
    <arg name="fcu_url" default="udp://:14541@localhost:14581"/>
    <include file="$(find px4)/launch/single_vehicle_spawn.launch">
      <arg name="x" value="$(arg target_offset_east_m)"/>
      <arg name="y" value="0"/>
      <arg name="z" value="0"/>
      <arg name="R" value="0"/>
      <arg name="P" value="0"/>
      <arg name="Y" value="0"/>
      <arg name="vehicle" value="$(arg vehicle)"/>
      <arg name="mavlink_udp_port" value="14561"/>
      <arg name="mavlink_tcp_port" value="4561"/>
      <arg name="ID" value="$(arg ID)"/>
      <arg name="gst_udp_port" value="$(eval 5600 + arg('ID'))"/>
      <arg name="video_uri" value="$(eval 5600 + arg('ID'))"/>
      <arg name="mavlink_cam_udp_port" value="$(eval 14530 + arg('ID'))"/>
    </include>
    <include file="$(find mavros)/launch/px4.launch">
      <arg name="fcu_url" value="$(arg fcu_url)"/>
      <arg name="gcs_url" value=""/>
      <arg name="tgt_system" value="$(eval 1 + arg('ID'))"/>
      <arg name="tgt_component" value="1"/>
    </include>
  </group>
</launch>
